
<h1>Posts</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>
      #
    </th>
    <th>
    Employee
    </th>
    <th>
      Week Starting
    </th>
    <th>
      Confirmed At
    </th>
    <th>
      Status
    </th>

    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render @audit_logs %>
  </tbody>
</table>