<% if flash[:alert] %>
    <%= js add_gritter(flash[:alert], title: "Overtime App Alert",sticky: false, time: 10000) %>

<% elsif flash[:error] %>
    <%= js add_gritter(flash[:error], title: "Overtime App Error",sticky: false, time: 10000) %>
<% else %>
    <%= js add_gritter(flash[:notice], title: "Overtime App Notification",sticky: false, time: 10000) %>
<% end %>