<li class="<%= active?(posts_path) %>">
  <%= link_to "Time Entries", posts_path %>
</li>

<li class="<%= active?(new_post_path) %>">
  <%= link_to "Submit Hours", new_post_path, id: 'new_post_from_nav' %>
</li>