<% recent_audit_items.each do |recent_audit_item| %>
    <div class="homepage-block col-md-3">
      <h4><%= recent_audit_item.user.full_name %></h4>
      <p>
        <span class="pending-details">Week starting: </span> <%= recent_audit_item.start_date %>
      </p>
      <p>
        <span class="pending-details">Confirmed at: </span><%=  recent_audit_item.end_date || (status_label 'pending') %>
      </p>
      <p>
        <span class="pending-details">Status:</span> <%= status_label recent_audit_item.status %>
      </p>

    </div>
<% end %>