<% pending_approvals.each do |pending_approval| %>
    <div class="homepage-block col-md-3">
      <h4><%= pending_approval.user.full_name %></h4>
      <p>
        <span class="pending-details">Date submitted: </span> <%= pending_approval.date %>
      </p>
      <p>
        <span class="pending-details">work_performed: </span><%= truncate pending_approval.work_performed,length: 42 %>
      </p>
      <div class="row">
        <div class="col-md-6 column">
          <%= link_to 'Review', edit_post_path(pending_approval), class: 'btn btn-warning btn-block' %>
        </div>
        <div class="col-md-6 column">
        <%= link_to 'Approve', approve_post_path(pending_approval), class: 'btn btn-success btn-block', id: "approve_#{pending_approval.id}" %>
        </div>
      </div>
    </div>
<% end %>