<% pending_audit_confirmations.each do |pending| %>
  <%= link_to "I confirm that i  did not perform any overtime for the week of: #{pending.start_date}
   through #{pending.start_date + 6.days}",
      confirm_audit_log_path(pending),
  class: 'btn btn-primary btn-block btn-lg btn-employee-home',
      id: "confirm_#{pending.id}" ,
              data: { confirm: 'Are you sure  you want to confirm that you did not perform any overtime?'} %>
<% end %>