
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'control-label'  %><br />
          <%= f.email_field :email,class: 'form-control', autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'control-label'  %><br />
          <%= f.password_field :password,class: 'form-control', autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me, class: 'control-label' %>
              <%= f.label :remember_me %>
            </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>



