<h1>Posts</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>


    <th>
      Hours
    </th>
    <th>
      Date
    </th>
    <th class="hidden-xs">
      work_performed
    </th>
    <th>
      Status
    </th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render @posts %>
  </tbody>
</table>