<div>
  <h2><%= @post.work_performed %></h2>
</div>

<div class="well">
  <div>
    <h3> <span>Hours worked:</span> <%= @post.daily_hours %></h3>
  </div>
  <div>
    <h3> <span>Date:</span> <%= @post.date %></h3>
  </div>
  <div>
    <h3><span>Employee:</span> <%= @post.user.full_name %></h3>
  </div>
  <div>
    <h3><span>Current stage of approval:</span> <%= @post.status %> </h3>
  </div>
</div>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' if policy(@post).update? %>




