.pending-homepage {
    margin-top: 20px;
    margin-bottom: 20 px;
    background-color: #E3E3E3;

    border-radius: 3px;
    padding: 20px;
}
.homepage-block {
    background-color: #1D3C91;
    color: whitesmoke;
    margin: 42px 12px 42px 12px;
    padding: 15px;
    border-radius: 3px;
}

.pending-details {
    font-weight: 900;
}
.homepage-block:hover {
    background-color: #172b63;
}