
/* app/assets/stylesheets/application.css.scss */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts.scss";
@import "gritter";
@import "bourbon";
@import "admin_homepage.css";
@import "employee_homepage.css";
.custom-nav {
  margin-top: 15px;
}

.btn-employee-home {
  white-space: normal !important;

}