<!DOCTYPE html>
<html>
  <head>
    <title>Overtime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render 'shared/nav' %>
        <%= yield %>
      </div>
    </div>
  </div>
<%= render 'shared/alerts'  %>

  </body>
</html>